@model Rescuer

<div class="row justify-content-end" style="margin-top: 20px;">
    <form class="text-right" asp-action="AvailablePersonnel" asp-controller="Home" asp-method="post">
        <input class="btn btn-outline-info btn-sm " type="submit" value="Back to Available Personnel">
    </form><br>
</div>

<div class="row justify-content-center">
    <h2>Enter New Rescuer Information</h2>
</div><br>

<div class="row-justify-content-center">
    <div class="col-9 offset-4 ">
        <form asp-action="AddRescuer" asp-controller="Home" method="post">
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label Rescuer_Info">First Name: </label>
                <div class="col-6">
                    <input asp-for="FirstName" class="form-control col-6">
                </div>
            </div>
            <div class="row validation offset-3"><span offset-3 asp-validation-for="FirstName"></span></div>


            <div class="form-group row">

                <label class="col-sm-2 col-form-label Rescuer_Info" asp-for="LastName">Last Name: </label>
                <div class="col-6">
                    <input asp-for="LastName" class="form-control col-6">
                </div>
            </div>
            <div class="row validation offset-3"><span asp-validation-for="LastName"></span></div>

            <div class="form-group row">

                <label class="col-sm-2 col-form-label Rescuer_Info" asp-for="Age">Age: </label>
                <div class="col-6">
                    <input asp-for="Age" class=" form-control col-3">
                </div>
            </div>

            <div class="row validation offset-3"><span asp-validation-for="Age"></span></div>

            <div class="form-group row" style="vertical-align:bottom">

                <label class="col-sm-2 col-form-label Rescuer_Info" asp-for="Rank">Rank: </label>
                <div class="col-6">
                    <select asp-for="Rank" class="form-control col-3" style="vertical-align: top">

                        <option>EMT-B</option>
                        <option>Paramedic</option>
                        <option>FirefighterI</option>
                        <option>FirefighterII</option>
                        <option>Lieutenant</option>

                    </select>
                </div>

            </div>
            <input asp-for="UserId" type="hidden" value="@ViewBag.Dispatcher.UserId">
            <div class="row justify-content-beginning" style="margin-top: 30px;">
                <div class="col offset-2">
                    <input class="btn btn-outline-dark" type="submit" value="Create Rescuer">
                </div>
                
            </div>
        </form>
    </div>
</div>



<style>
    .Rescuer_Info {
        color: black;
        font-size: 125%;
    }

    .validation {
        margin-top: 0px;
        margin-bottom: 40px;
        color: red;
    }

    .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-group {
        margin-bottom: 0px;
    }
</style>