@model Unit

<h6>Dispatcher: @ViewBag.Dispatcher.FirstName</h6><br><br>
<h4>Enter New Unit Information</h4>
<form class="form-group" asp-action="AddUnit" asp-controller="Home" method="post">

    <span asp-validation-for="NumberType"></span>
    <label asp-for="NumberType">Unit Type:</label>
    <select asp-for="NumberType">
        <option value="A">A</option>
        <option value="M">M</option>
        <option value="E">E</option>
        <option value="T">T</option>
        <option value="RS">RS</option>
    </select>

    <span asp-validation-for="Number"></span>
    <label asp-for="Number">Unit Number </label>
    <input class="input-sm" asp-for="Number" class="form-control"><br>

    <span asp-validation-for="UnitType"></span>
    <label asp-for="UnitType">Unit Type:</label>
    <select asp-for="UnitType">
        <option value="BLS Ambulance">BLS Ambulance</option>
        <option value="ALS Ambulance">ALS Ambulance</option>
        <option value="Fire Engine">Fire Engine</option>
        <option value="Fire Truck">Fire Truck</option>
        <option value="Rescue Squad">Rescue Squad</option>

    </select><br><br>

    <input asp-for="UserId" type="hidden" value="@ViewBag.Dispatcher.UserId">

    <input class="btn btn-outline-info" type="submit" value="Generate Unit">

</form>
