@model LoginUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css"/>

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-end ">
                <a id="new_account" asp-action="Login" asp-controller="Home">Create New Dispatcher Account </a>
           
        </div>





        <div class="row justify-content-center h-100">
            <div class="col-sm-6 my-auto">
                <div class="row justify-content-center">
                    
                </div>

                <div class="card ">
                    <div class="card-header text-center ">Dispatcher Login</div>
                    —

                        <form asp-action="Signin" asp-controller="Home" asp-method="post">
                            <div class="form-group row">
                                <span asp-validation-for="LoginEmail"></span>
                                <span asp-validation-for="LoginPassword"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label" asp-for="LoginEmail"> <b>Email
                                        Address:</b></label>

                                <div class="col-sm-7">
                                    <input class="form-control" asp-for="LoginEmail">
                                </div>
                            </div>




                            <div class="form-group row">

                                <label class="col-sm-5 col-form-label" asp-for="LoginPassword"><b>Password:</b></label>
                                <div class="col-sm-7">
                                    <input asp-for="LoginPassword" class="form-control">
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <input type="submit" class="btn btn-light" value="Log In">
                            </div>


                        </form>
                    </div>
                    <!--end card body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

        </div>

</body>
<style>
    body {
        background-image: url("./wwwroot/images/ambo.png")
       
    }

    .container-fluid {

        height: 100vh;
        

    }

    .card {
        border-radius: 20px;
        background-color:lightblue;
        opacity: 0.9;
    }
    body{
                    background-image: url("./Images/RE703.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100vh;
                    opacity: 0.8;
    }

    #new_account{
        color: black;
        background-color: white;
        
    }
</style>

</html>